#Eclipse
/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/reobf/*
/run/*
/runtime/*
/temp/*
/temporary/*

*.sh
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.gradle/

# Eclipse launch configs
*.launch

.cproject
.buildpath

#IDEA

.idea/
*.iml
*.ipr
*.iws

*.suo
*.user
*.sln.docstates

*.meta
*.tmp
.builds

# Win img caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac trash
.DS_Store

# ForgeGradle
gradle/wrapper/
gradlew

#Minecraft Logs
*.log.gz
